@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url(./_variables.css);

@import url(./_global.css);

html, body{
    font-family: 'Montserrat', sans-serif;
    margin: 0%;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

/* inicio header */
@media (min-width: 600px) {
    .area-header .menu-principal .navbar{
        padding: 10px 160px;
    }
}
.area-header .menu-principal .nav-item .nav-link{
    font: normal 500 15px/2px var(--montserrat);
    text-transform: uppercase;
    padding: 1.7rem;
    color: var(--title-color);
}
.area-header .menu-principal .navbar-nav .active{
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.area-header .menu-principal .navbar-nav a:hover{
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

/* fin header */

/* inicio menu principal */

.principal .titulo-principal{
    background-image: url();
    background-repeat: no-repeat;
    background-position: 0% 50%;
}
.principal .titulo-principal .titulo{
    padding-left: 3rem;
}
.principal .titulo-principal .titulo h3{
    padding-top: 25%;
    font-weight: 500;
}
.principal .titulo-principal .titulo h1{
    font-size: 55px;
}
.principal .titulo-principal .titulo h4{
    font-size: 20px;
}
.principal .titulo-principal .imagen-titulo > img{
    padding: 112px 0px;
    width: 470px;
}
/* fin menu principal */

/* inicio sobre mí */

.area-sobre-mi .imagen img{
    width: 70%;
    height: auto;
    margin-left: 17%;
    border: 1px solid #4458dc;
    border-radius: 15px;
}
.area-sobre-mi p{
    font: normal 400 16px/ 20px var(--montserrat);
}
#tabla-tecnologica .t-tecnologica{
    background: rgba(248, 252, 253, 0.973);
    padding: 2rem 1.5rem;
    transition: box-shadow .7s ease;
}
#tabla-tecnologica .t-tecnologica:hover{
    box-shadow: var(--box-shadow);
}
#experiencias h4{
    font-size: 20px;
}
#formacion .umc{
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    margin: 20px;
    margin-left: 0;
}
#formacion .umc:hover{
    -webkit-filter: grayscale(100%);
    filter: grayscale(0%);
}
#formacion p{
    color: var(--text-color);
    font-size: 16px;
}
#cursos h3, #formacion h3{
    font-size: 18px;
    font-weight: 600;
}
#cursos h4, #formacion h4{
    font-size: 17px;
}
#cursos h5, #formacion h5{
    color: var(--text-color);
    font-size: 14px;
}
#cursos .umc{
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    margin: 20px;
    margin-left: 0;
}
#cursos .umc:hover{
    -webkit-filter: grayscale(100%);
    filter: grayscale(0%);
}
#idiomas .card-idioma{
    border-radius: 15px;
}
#idiomas .card{
    background-color: var(--primary-color);
    border-radius: 15px;
    padding: 40px 0;
}
#idiomas h2{
    font-size: 16px;
    font-weight: 600px;
}
#idiomas ul{
    padding: 0px;
    font-size: 14px;
    color: var(--text-color);
    list-style-type: none;
}
#idiomas .fas{
    font-size: 80px;
    color: white;
}
/* fin sobre mí */

/* fin proyecto */
#proyectos h3{
    font-size: 15px;
}
#proyectos img{
    height: 13rem;
}
#proyectos .card p{
    height: 90px;
}
#proyectos .coso{
    background-color: var(--primary-color2);
    color: var(--title-color);
}
/* fin proyecto */

/* inicio contacto */
#contacto textarea{
    height: 150px;
}
/* fin contacto */

/* inicio footer */

.area-footer{
    background: white;
    background-repeat: no-repeat;
}
.area-footer .mail {
    text-decoration: none;
    color: #0d6efd;
}
.area-footer .par1{
    font-size: 12px;
    font-weight: bolder;
}
.area-footer .pequeño{
    font-weight: 500;
}
.area-footer .redes a > i{
    padding: 2rem;
    font-size: 25px;
    color: var(--border-color);
}
.area-footer .redes a:hover > i{
    color: var(--primary-color);
}
/* fin footer */