.form-control{
   width: 500px !important;
}
.fa-plus{
    position: fixed;
    background-color: rgb(85, 85, 242);
    bottom: 35px;
    right: 35px;
    font-size: 25px;
    border-radius: 20px;
    border: 1px solid rgb(85, 85, 242);
    color: whitesmoke;
    padding: 5px 5px;
}